[submodule "submodules/libfuzzer"]
	path = submodules/libfuzzer
	url = https://github.com/rust-fuzz/libfuzzer.git
[submodule "submodules/rs-soroban-env"]
	path = submodules/rs-soroban-env
	url = https://github.com/stellar/rs-soroban-env.git
[submodule "submodules/wasmi"]
	path = submodules/wasmi
	url = https://github.com/stellar/wasmi.git
